/* Name: Yashvi Patel
   Student Number: 8884318 */

   body {
    font: 16px Arial, sans-serif; 
    background-color: hsla(200, 68%, 81%, 0.8);
    height: 100vh;
    width: 100vw; 
  }

  h2 {
    color: #369; 
    font-size: 1.2rem; 
  }

  main {
    width: 97%;
    float: inline-start;
    background-color: hsl(240, 100%, 90%); 
}

aside {
    width: 97%;
    float: inline-start;
    background-color: hsl(120, 100%, 90%); 
}

.structural {
  padding: 10px;
  border: 1px solid #000;
  margin: 10px;
}

#paragraph1 {
  color: rgb(255, 0, 0); 
}

#paragraph2 {
  color: rgb(0, 0, 255); 
}

header {
  background-color: hsl(0, 100%, 90%); 
}
  
footer {
  background-color: hsl(60, 100%, 90%); 
}
a:hover {
  color: #f00; 
}

footer p {
  font-size: 12px;
}

